@{
  ViewData["Title"] = "Report";
}
@using System.Security.Claims
@using Microsoft.AspNetCore.Http
@model IEnumerable<Reports>

@if (User.Identity?.IsAuthenticated ?? false)
{
  <p>Welcome, @User.Identity?.Name</p>
}

@{

  // Alternatively, if the username is stored as the NameIdentifier:
  // string username = HttpContext.User.FindFirstValue(ClaimTypes.NameIdentifier);
}

@section PageScripts {
  <script src="~/js/dashboards-analytics.js"></script>
  <script src="~/js/form-basic-inputs.js"></script>
}

@* ************** Content ************** *@
@if (TempData["WRSaved"] != null)
{
  <script>
    alert("WRSaved");
  </script>
  TempData.Remove("WRSaved");
}
@if (TempData["Invalid"] != null)
{
  <script>
    alert("Invalid ModelState");
  </script>
  TempData.Remove("Invalid");
}


<!-- Modal -->
<form asp-controller="Report" asp-action="SaveWR" method="post">
  <div class="modal fade" id="modalCenter" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalCenterTitle">New Report</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row g-6">
            <div class="col mb-0">
              <label for="VoiceCall" class="form-label">VoiceCall</label>
              <input type="number" name="VoiceCallCount" class="form-control">
            </div>
            <div class="col mb-0">
              <label for="VideoCall" class="form-label">VideoCall</label>
              <input type="number" name="VideoCallCount" class="form-control">
            </div>
          </div>
          <div class="row g-6">
            <div class="col mb-0">
              <label for="AppliedJobCount" class="form-label">Applied Job Count</label>
              <input type="number" name="AppliedJobCount" class="form-control">
            </div>
            <div class="col mb-0">
              <label for="MockInterviewCount" class="form-label">Mock Interview Count</label>
              <input type="number" name="MockInterviewCount" class="form-control">
            </div>
          </div>
          <div>
            <input type="hidden" name="UserName" value="@User.Identity?.Name">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">OK</button>
        </div>
      </div>
    </div>
  </div>
</form>


<div class="row">
  <div class="card">
    <h4 class="card-header">
      Report History
      <button type="button" class="btn btn-primary float-end" data-bs-toggle="modal" data-bs-target="#modalCenter">New
        Report</button>
    </h4>

    <div class="table-responsive text-nowrap">
      <table class="table">
        <thead>
          <tr>
            <th><i class="bx bx-phone text-default"></i>Voice Call</th>
            <th><i class="bx bx-video text-default"></i>Video Call</th>
            <th><i class="bx bx-group text-default"></i>Mock Interview</th>
            <th><i class="bx bx-briefcase text-default"></i>Applied Job</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody class="table-border-bottom-0">
          @foreach (var record in Model)
          {
            <tr>
              <td>
                <span>@record.VoiceCallCount</span>
              </td>
              <td>
                <span>@record.VideoCallCount</span>
              </td>
              <td>
                <span>@record.MockInterviewCount</span>
              </td>
              <td>
                <span>@record.AppliedJob</span>
              </td>
              <td>
                <div class="dropdown">
                  <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown"><i
                      class="bx bx-dots-vertical-rounded"></i></button>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="javascript:void(0);"><i class="bx bx-edit-alt me-1"></i> Edit</a>
                    <a class="dropdown-item" href="javascript:void(0);"><i class="bx bx-trash me-1"></i> Delete</a>
                  </div>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
  <!--/ Basic Bootstrap Table -->
</div>

<!--/ Basic Bootstrap Table -->
